.nav-bar {
    background-color: rgb(2, 2, 71) !important;
    position: fixed;
}

.avataar-section {
    background-color: #1abc9c;
}


 .start-boot {
    
    
}


.portfolio h1 {
    color: rgb(2, 2, 71) !important;
}